@import "tailwindcss";

@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: '양진체';
}

.shapewrap {
    margin-top: 3rem;
}

.gsapsection {
    margin: 3% 10% 0 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
}

.quote {
    font-size: clamp(2rem, 10rem, 5vw);
    color: #fff;
    text-align: center;
    line-height: 1.2
}

button {
    padding: 10px;
    margin: 20px 0;
}